In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']
directors = list(set(data['director'].apply(str.split, args = ('|')).sum()))
genres = Counter(data['genres'].apply(str.split, args = ('|')).sum())
actors = set(data['cast'].apply(str.split, args = ('|')).sum())
studios = set(data['production_companies'].apply(str.split, args = ('|')).sum())
data['is_high_budget'] = data['budget'] > data['budget'].mean()
data['release_date'] = data['release_date'].apply(pd.to_datetime)
data['release_year'] = data['release_date'].apply(lambda x: x.year)
data['release_month'] = data['release_date'].apply(lambda x: x.month)
data_paramount = data[data['production_companies'].str.contains("Paramount Pictures")]

In [4]:
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,is_high_budget,release_month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,True,6
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,True,5
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,True,3
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,True,12
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,True,4

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [7]:
data[data['budget'] == data['budget'].max()]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals' #+

In [9]:
data[data['runtime'] == data['runtime'].max()]['original_title'].iloc[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = data[data['runtime'] == data['runtime'].min()]['original_title'].iloc[0]
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] =  data['runtime'].mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = data['runtime'].median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
answers['6'] = data[data['profit'] == data['profit'].max()]['original_title'].iloc[0]
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = data[data['profit'] == data['profit'].min()]['original_title'].iloc[0]
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = data[data['profit'] > 0]['imdb_id'].count()
answers['8']

1478

In [16]:
len(data.query('profit>0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
data_2008 = data[data['release_year'] == 2008]
answers['9'] = data_2008[data_2008['profit'] == data_2008['profit'].max()]['original_title'].iloc[0]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
data_12_14 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
answers['10'] = data_12_14[data_12_14['profit'] == data_12_14['profit'].min()]['original_title'].iloc[0]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [19]:
answers['11'] = genres.most_common(1)[0][0]
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
genre_profitable = Counter()
for genre in genres:
    genre_profitable.update({genre : data[data['genres'].str.contains(genre) & data['profit'] > 0]['imdb_id'].nunique()})
answers['12'] = genre_profitable.most_common(1)[0][0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
best_dir_rev = ('', -1)
for director in directors:
    rev_dir = data[data['director'].str.contains(director)]['revenue'].sum()
    best_dir_rev = (director, rev_dir) if rev_dir > best_dir_rev[1] else best_dir_rev
answers['13'] = best_dir_rev[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
director_action_best = ('',-1)
for director in directors:
    action_count = data[data['director'].str.contains(director) & data['genres'].str.contains("Action")]['imdb_id'].nunique()
    director_action_best = (director, action_count) if action_count > director_action_best[1] else director_action_best
answers['14'] = director_action_best[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
champion = ('', -1)
for actor in actors:
    rev = data[data['cast'].str.contains(actor) & (data['release_year'] == 2012)]['revenue'].sum()
    champion = (actor, rev) if rev>champion[1] else champion
answers['15'] = champion[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
actor_max_high_budget = ('', -1)
for actor in actors:
    high_bud_count = data[data['cast'].str.contains(actor) & data['is_high_budget'] == True]['imdb_id'].nunique()
    actor_max_high_budget = (actor, high_bud_count) if high_bud_count > actor_max_high_budget[1] else actor_max_high_budget
answers['16'] = actor_max_high_budget[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
genre_count_cage = ('',-1)
for genre in genres:
    current_count = data[data['cast'].str.contains('Nicolas Cage') & data['genres'].str.contains(genre)]['imdb_id'].nunique()
    genre_count_cage = (genre, current_count) if current_count > genre_count_cage[1] else genre_count_cage
answers['17'] = genre_count_cage[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = data_paramount[data_paramount['profit'] == data_paramount['profit'].min()]['original_title'].iloc[0]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
year_summary = data.groupby(by = 'release_year').sum()
answers['19'] = year_summary[year_summary['revenue'] == year_summary['revenue'].max()].index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
wb_years_summary = data[data['production_companies'].str.contains('Warner Bros')].groupby(by = 'release_year').sum()
answers['20'] = wb_years_summary[wb_years_summary['profit'] == wb_years_summary['profit'].max()].index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
month_summary = data.groupby(by='release_month').nunique()
answers['21'] = month_summary[month_summary['imdb_id'] == month_summary['imdb_id'].max()].index[0]
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = (month_summary.loc[6] + month_summary.loc[7] + month_summary.loc[8])['imdb_id']
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
champion = ('', -1)
for director in directors:
        count = data[data['director'].str.contains(director)].groupby(by='release_month').nunique().reindex(labels = [12,1,2], fill_value = 0)['imdb_id'].sum()
        champion = (director, count) if count > champion[1] else champion
answers['23'] = champion[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
champion = ('', -1)
for studio in studios:
    current_studio_movies = data[data['production_companies'].str.contains(studio)]
    count = current_studio_movies['original_title'].str.len().mean()
    champion = (studio, count) if count > champion[1] else champion
answers['24'] = champion[0]
answers['24']

/home/rivfader/anaconda3/lib/python3.8/site-packages/pandas/core/strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
champion = ('', -1)
for studio in studios:
    current_studio_movies = data[data['production_companies'].str.contains(studio)]
    count = current_studio_movies['overview'].str.split().apply(len).mean()
    champion = (studio, count) if count > champion[1] else champion
answers['25'] = champion[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
data[data['vote_average'] > data.vote_average.quantile(0.99)][['original_title', 'vote_average']]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

In [35]:
top_1_percent = set(data[data['vote_average'] >= data['vote_average'].quantile(0.99)]['original_title'])
a = 'Inside Out, The Dark Knight, 12 Years a Slave'
b = 'BloodRayne, The Adventures of Rocky & Bullwinkle'
c = 'Batman Begins, The Lord of the Rings: The Return of the King, Upside Down'
d = '300, Lucky Number Slevin, Kill Bill: Vol. 1'
e = 'Upside Down, Inside Out, Iron Man'
print(a, '_______________________', set(a.split(', ')) <= top_1_percent)
print(b, '_______________________', set(b.split(', ')) <= top_1_percent)
print(c, '_______________________', set(c.split(', ')) <= top_1_percent)
print(d, '_______________________', set(d.split(', ')) <= top_1_percent)
print(e, '_______________________', set(e.split(', ')) <= top_1_percent)

Inside Out, The Dark Knight, 12 Years a Slave _______________________ True
BloodRayne, The Adventures of Rocky & Bullwinkle _______________________ False
Batman Begins, The Lord of the Rings: The Return of the King, Upside Down _______________________ False
300, Lucky Number Slevin, Kill Bill: Vol. 1 _______________________ False
Upside Down, Inside Out, Iron Man _______________________ False

In [36]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [37]:
cast_split = data['cast'].apply(str.split, args = ('|'))
duets = cast_split.apply(lambda x: list(combinations(x,2)))
duets_unique = Counter([' & '.join(sorted(list(x))) for x in duets.sum()])
answers['27'] = duets_unique.most_common(1)[0][0]
answers['27']

'Daniel Radcliffe & Rupert Grint'

# Submission

In [38]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [39]:
# и убедиться что ни чего не пропустил)
len(answers)

27